.countdown
    width: 100%
    height: 200px
    background: transparent
    margin-bottom: 20px
    h2 
        padding: 20px
        color: transparent

    span 
        padding-left: 20px
        padding-right: 20px
        font-size: 15vw
        font-weight: 100

        color: transparent
        -webkit-text-stroke-width: 3px
        -webkit-text-stroke-color: white
        display: flex
        justify-content: center

        &.done
            font-size: 2.5em